# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

if ZMK_POINTING

config ZMK_INPUT_PROCESSOR_ROTATE_PLANE
bool "Rotate plane input processor"
default y

if ZMK_INPUT_PROCESSOR_ROTATE_PLANE

config ZMK_INPUT_PROCESSOR_ROTATE_PLANE_TIMEOUT_MS
int "Timeout in milliseconds to wait for paired axis event"
default 16
help
  Time to wait for the second axis event before assuming it's 0.
  If only one axis event is received within this timeout, the other
  axis is assumed to be 0 for rotation calculation.

endif

endif
